.terraform.lock.hcl
modules.json
.terraform/
.terraform.*
terraform.*
tfplan*
!/*.sh
!/*.sh.tlp
!/**/*.sh
!/**/*.sh.tlp
tfplan*
out_*
export_*
providers.azure.tf
common_init.sh
!terraform.default.tfvars
extract_defaults.sh
